@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}



@layer utilities {
  /* Aniamtion */
  .animate {
    @apply transition-all duration-500;
  }

  /* Text */
  .text-gradient {
    @apply bg-gradient-to-r from-blue to-purple text-transparent bg-clip-text;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ab23ff;
}

/* Border custom styling */
.border-gradient {
  border-image: linear-gradient(to right, #3d8bff, #ab23ff) 100% 0;
}
