@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Fonts */
@font-face {
  font-family: "MonumentExtended";
  src: url("../public/fonts/MonumentExtended-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "SatoshiRegular";
  src: url("../public/fonts/Satoshi-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SatoshiMedium";
  src: url("../public/fonts/Satoshi-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "SatoshiBold";
  src: url("../public/fonts/Satoshi-Bold.woff2") format("woff2");
  font-display: swap;
}

.font-monument {
  font-family: "MonumentExtended", sans-serif;
}

.font-satoshi-regular {
  font-family: "SatoshiRegular", sans-serif;
}

.font-satoshi-medium {
  font-family: "SatoshiMedium", sans-serif;
}

.font-satoshi-bold {
  font-family: "SatoshiBold", sans-serif;
}

@layer utilities {
  /* Aniamtion */
  .animate {
    @apply transition-all duration-500;
  }

  /* Text */
  .text-gradient {
    @apply bg-gradient-to-r from-blue to-purple text-transparent bg-clip-text;
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #ab23ff;
}

/* Border custom styling */
.border-gradient {
  border-image: linear-gradient(to right, #3d8bff, #ab23ff) 100% 0;
}
